// Color Variables
$primary-color: #eeeeee;
$secondary-color: #2bfdff;
$text-color: #333333;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', serif;
$tertiary-font: 'Roboto';
$icon-font: 'themify';
